
.title2 {
  font-size:0px;
  font-weight: 0px;
}
h2 {
  font-size: 50px;
  width: 700px;
  color: white;
}

.colum-2 {
  background-image: url("../pagina atlas/images/future-1.png");
  width: 1000px;
height:300px;
margin: 200px;
float: left;
padding: 0px;;
display: flex;
height:200px;
justify-content:space-between;
justify-items:auto;

}
      
header{
  height: 100vh;
  margin:0px;
  flex: content;
  background-image:url('../assets/images/banner-bk.jpg');
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  align-content: space-around;
}




.boton1{
 height: 30px;
 width: 100px;  
  background-color: rgb(0, 255, 195);
  color:rgb(0, 0, 0) ;

}

.img {
  overflow: content-box;
justify-self:flex-end;
  }